h3 {
    font-weight: 400;
    color: lightslategray;
    margin-left: 20px;

}


.main-grid {
    height:100vh;
    display: grid; 
    grid-template-columns: 1fr;
    grid-auto-rows: 80px 90px minmax(150px, auto);
    grid-template-areas: "header"
                          "nav"
                          "main"
                          "footer";

}

header {
    grid-area: header;
    color:white;
    background-color: mediumpurple;
    display: inline-flex;
    flex-direction: row;
}

nav {
    grid-area: nav;
    background-color: rgb(62, 48, 122);
    align-items: center;
   
}

main{
    grid-area: main;
    align-items: center;
}

footer{
    grid-area: footer;
    
}


.app-name {
    padding-left: 20px;
    font-size: 1.4em;
    padding-top: 15px;
}

.app-name span{
    font-weight: 100;
}

.bell-icon{
    margin-left: auto;
    border-right: 2px solid  rgb(62, 48, 122);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 20px;

}

.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px 10px 0 20px;
   
}

.profile-name {
    padding-top: 15px;
    font-weight: 200;
    font-size: 1em;
    padding-right: 2.2em;
    color:white;
}

.main-nav{
    display: flex;
    justify-content: center;
}
.main-nav img{
    margin: auto;
    padding: 30px 20px 0px 20px;

    
}

main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: 80px 80px repeat(3,150px) 100px minmax(150px, auto);
    grid-template-areas: "dashboard"
                          "alert"
                          "traffic"
                          "daily"
                          "mobile"
                          "social"
                          "members"
                          "activity"
                          "message"
                          "settings";
}

.main-header {
    grid-area: dashboard;
    display: inline-flex;

}

.alert {
    grid-area: alert;
}

.traffic{
    grid-area: traffic;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);

}

.daily {
    grid-area: daily;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
}

.mobile{
    grid-area: mobile
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
}

.socials{
    grid-area: social;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
}

.members{
grid-area: members;
padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
}

.activity{
    grid-area: activity;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
}

.message{
    grid-area: message;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(182, 187, 192);
    
}

.settings{
    grid-area: settings; 
    padding-bottom: 50px;
    
}


/*------Dashboard-----*/

.headline{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: lightslategray;
}
.main-header-search{
    border: 1px solid lightslategray;
    border-top: none;
    border-right: none;
    background-color: rgb(240, 233, 233);
    margin-left: auto;
    width:80%;
    text-align: right;
}

.main-header input {
    width: 280px;
    height: 30px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
    border: 1px solid rgb(182, 187, 192);
    border-radius: 3px;
    
}

/*--------Alert Bar-------*/

.alert {
    
    color: white;
    width: 95%;
    height: 30px;
    background-color: mediumpurple;
    border: 1px solid rgb(139, 102, 212);
    border-radius: 3px;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 15px;
}

.alert-banner{
    display: flex;
    flex-direction: row;
    color:white;
    padding-left: 30px;
}
.alert-banner-close{
    margin-left: auto;
    margin-right: 30px;
}

/*--------traffic-----*/

.traffic-header{
    display: flex;
    flex-direction: row;}


.traffic li {
    color: lightslategray;
    font-weight: bold;
    display: inline;
}

/*-----members-----*/
.members img,
.activity img{
    border-radius: 50%;
    width: 50px;
    height:50px;
}

/*------Recent Activity-------*/


/*----------Social Stats-------*/
.social-container{
    display:flex;
    justify-content: space-evenly;
    margin-right: 15px;
    
}

.social-block {
    background-color: rgb(248, 244, 244);
    border: 1px solid rgb(182, 187, 192);
    border-radius: 4px;
    width:30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px 10px 40px;
    margin-left: 10px;
    
}

.social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
  }

.social-container svg {
    width: 40px;
    height: 40px;
    
}

.twitter-bird,
.facebook-f,
.google-g{
fill:white;
width: 10px; 
height: auto;
}

.social-block p{
    font-size: 2em;
    font-weight: 80;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    color: slategray;
}
.social-text span{
    color: mediumpurple;
    font-weight: bold;
    font-size: .5em;
}

/*-------Message------*/
.widget-container{
    display: block;
}
.form-field,
.form-area{
    width: 90%;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(248, 244, 244);
    border: 1px solid rgb(182, 187, 192);
    border-radius: 3px;
    font-weight: 300;
    color: rgb(154, 163, 172);
    font-size: .9em;
    padding-left: 15px;
    margin-left: 20px;
}
.form-area{
    height: 150px;
    
}
.form-field{
    
}

/*-------Settings--------*/
.settings{
    padding-bottom: 50px;
}

.settings span{
    text-shodow: none;
}
.settings label{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin-left: 20px;
}
.settings p{
    color: lightslategray;
}
.switch-toggle.switch-candy, .switch-light.switch-candy > span{
    background-color: mediumpurple;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    box-shadow: none;
    text-shadow: none;
    margin-left: auto;
    margin-right: 150px;
    margin-top: 5px;
}

.switch-light.switch-candy input ~ span span:first-child, 
.switch-light.switch-candy input:checked ~ span span:nth-child(2),
 .switch-candy input:checked + label {
    color: white;

}

.switch-candy a {
    border-radius: 20px;
    width:50px;
    height:30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: white;
    




/*---------Button Styles-----*/
 button { 
    height: 40px;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
}

.button-primary{
    background-color: mediumpurple;
    
}
.message button{
    
    width: 90%;
}
.button-disabled{
    background-color:lightslategray;

}

.settings button {
    width: 45%;
    
}

@media (min-width:768px){
    .main-grid {

        grid-template-columns: 90px 1fr ;
        grid-template-rows: 80px auto  ;
        grid-auto-rows: minmax(90px, auto) ;
        grid-template-areas: "header header"
                              "nav main"
                              "nav main"
                              "nav footer";
    
    }
 nav{
     grid-row-start: 2;
     grid-row-end: -1;
 }


    .main-nav{
        display: block;
        justify-content: center;
    }

    main{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 80px 80px repeat(3,200px) 150px minmax(150px, auto);
        grid-template-areas: "dashboard dashboard"
                              "alert alert"
                              "traffic traffic"
                              "daily mobile"
                              "social social"
                              "members activity"
                              "message settings";
    }

.social-block{
    width: 30%;
    height: 130px;
    flex-direction: row;
    padding-top: 40px;
}

.social-text p{
    padding-left: 10px;
}

}